{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Customer Reviews</h2>
    </div>

    {% if user.is_authenticated %}
    {% csrf_token %}
    <div class="text-center">
      <a href="{% url 'create_reviews' %}" class="button-primary">Create Review</a>
    </div>

    {% else %}
    <div class="text-center">
      <p>Please log in to leave a review.</p>
      <a class="button-primary" href="{% url 'account_login' %}">Login</a>
    </div>
    {% endif %}




    <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        {% if reviews %}
        {% for review in reviews %}

        <div class="swiper-slide">

          <div class="testimonial-wrap">

            <div class="testimonial-item">

              <div class="d-flex align-items-center">
                <div>
                  <h3>{{ review.author }}</h3>
                  <h4>{{ review.product_name }}</h4>
                  <div class="stars">{{ review.rating }}
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                {{ review.content }}
                <i class="bi bi-quote quote-icon-right"></i>
              </p>

              {% if review.author == request.user %}
              <div class="text-center">
                <a href="{% url 'edit_reviews' review.pk %}">Edit</a>
                <a href="{% url 'delete_reviews' review.pk %}">Delete</a>
              </div>
              {% endif %}

            </div>


          </div>


        </div><!-- End testimonial item -->

        {% endfor %}
        {% endif %}

      </div>

      <div class="swiper-pagination"></div>
    </div>


  </div>

</section><!-- End Testimonials Section -->

{% endblock %}