{% extends "base.html" %}
{% load static %}

{% block content %}
      <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative" data-aos="fade-in">
      <div class="row gy-5">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>This is <span>Preloved.</span></h2>
          <h4>Elevate your style and embrace individuality with Preloved's curated secondhand fashion. </h4>
          <br>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="{% url 'products' %}" class="btn-get-started">Shop Now</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="https://vintagepp5.s3.eu-west-1.amazonaws.com/bwink_msc_03_single_01.jpg" class="img-fluid rounded-circle" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-person"></i></div>
              <h4 class="title"><a href="{% url 'products' %}?gender=male" class="stretched-link">Men's</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-person-dress"></i></div>
              <h4 class="title"><a href="{% url 'products' %}?gender=female" class="stretched-link">Women's</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-comments"></i></div>
              <h4 class="title"><a href="{% url 'reviews' %}" class="stretched-link">Reviews</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-envelope-open-text"></i></div>
              <h4 class="title"><a href="{% url 'contact' %}" class="stretched-link">Contact Us</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->
{% endblock %}