<ul>
    {% if request.user.is_authenticated %}
    <li><a href="{% url 'profile' %}" class="dropdown-item">My Profile</a></li>
    <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
    {% else %}
    <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
    <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
    {% endif %}
</ul>

<li>
    <a id="bag-icon"
        class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block"
        href="{% url 'view_bag' %}">
        <div>
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                €{{ grand_total|floatformat:2 }}
                {% else %}
                $0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>
</ul>