{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <!-- FontAwesome CDN -->
    <script src="https://kit.fontawesome.com/eef88ca571.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    {% endblock %}

    <title>Vintage {% block extra_title %}{% endblock %}</title>
</head>

<body>

    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="{% url 'home' %}" class="logo d-flex align-items-center" id="icon">
                <i class="fa-solid fa-heart-crack"></i>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="dropdown"><a href="{% url 'products' %}?gender=M"><span>Men</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="{% url 'products' %}?category=sweatshirts_jumpers&gender=M">Sweatshirts & Jumpers</a>
                            </li>
                            <li><a href="{% url 'products' %}?category=tops&gender=M">Tops</a></li>
                            <li><a href="{% url 'products' %}?category=bottoms&gender=M">Bottoms</a></li>
                            <li><a href="{% url 'products' %}?category=jackets&gender=M">Jackets</a></li>
                            <li><a href="{% url 'products' %}?category=accessories&gender=M">Acessories</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="{% url 'products' %}?gender=F"><span>Women</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="{% url 'products' %}?category=sweatshirts_jummpers&gender=F">Sweatshirts & Jumpers</a>
                            </li>
                            <li><a href="{% url 'products' %}?category=tops&gender=F">Tops</a></li>
                            <li><a href="{% url 'products' %}?category=bottoms&gender=F">Bottoms</a></li>
                            <li><a href="{% url 'products' %}?category=skirts_dresses&gender=F">Skirts & Dresses</a></li>
                            <li><a href="{% url 'products' %}?category=jackets&gender=F">Jackets</a></li>
                            <li><a href="{% url 'products' %}?category=accessories&gender=F">Acessories</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li>
                        <form method="GET" action="{% url 'products' %}">
                            <div class="input-group w-100">
                                <input class="form-control border border-black rounded-0" type="text" name="q"
                                    placeholder="Search our site">
                                <div class="input-group-append">
                                    <button class="search-button" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="dropdown"><a href="#" class="text-black nav-link">
                            <div class="text-center"><i class="fas fa-user fa-lg"></i>
                                {% if request.user.is_authenticated %}
                                <p class="my-0">{{ user.username }}</p>
                                {% endif %}
                            </div> <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul>
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <li><a href="" class="dropdown-item">Product Management</a></li>
                            {% endif %}
                            <li><a href="{% url 'profile' %}" class="dropdown-item">My Profile</a></li>
                            <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                            <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>


                {% include 'includes/mobile-top-header.html' %}


            </nav>

        </div>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}


</body>

</html>