{% load static %}
{% load user_agents %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <!-- FontAwesome CDN -->
    <script src="https://kit.fontawesome.com/eef88ca571.js" crossorigin="anonymous"></script>
    <!-- mailchimp -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup {
            background: black;
            false;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
            width: ;
            padding: 5px;
        }

        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Vintage {% block extra_title %}{% endblock %}</title>
</head>

{% block page_header %}

<body>

    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="{% url 'home' %}" class="logo d-flex align-items-center" id="icon">
                <i class="fa-solid fa-heart-crack"></i>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="dropdown"><a href="{% url 'products' %}?gender=M"><span>Men</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="{% url 'products' %}?category=sweatshirts_jumpers&gender=M">Sweatshirts &
                                    Jumpers</a>
                            </li>
                            <li><a href="{% url 'products' %}?category=tops&gender=M">Tops</a></li>
                            <li><a href="{% url 'products' %}?category=bottoms&gender=M">Bottoms</a></li>
                            <li><a href="{% url 'products' %}?category=jackets&gender=M">Jackets</a></li>
                            <li><a href="{% url 'products' %}?category=accessories&gender=M">Acessories</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="{% url 'products' %}?gender=F"><span>Women</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="{% url 'products' %}?category=sweatshirts_jummpers&gender=F">Sweatshirts &
                                    Jumpers</a>
                            </li>
                            <li><a href="{% url 'products' %}?category=tops&gender=F">Tops</a></li>
                            <li><a href="{% url 'products' %}?category=bottoms&gender=F">Bottoms</a></li>
                            <li><a href="{% url 'products' %}?category=skirts_dresses&gender=F">Skirts & Dresses</a>
                            </li>
                            <li><a href="{% url 'products' %}?category=jackets&gender=F">Jackets</a></li>
                            <li><a href="{% url 'products' %}?category=accessories&gender=F">Acessories</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'reviews' %}">Reviews</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li>
                        <form method="GET" action="{% url 'products' %}">
                            <div class="input-group w-100">
                                <input class="form-control border border-black rounded-0" type="text" name="q"
                                    placeholder="Search our site">
                                <div class="input-group-append">
                                    <button class="search-button" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>

                    <li id="account-icon"class="dropdown"><a href="#" class="text-black nav-link">
                            <div class="text-center"><i class="fas fa-user fa-lg"></i>
                                {% if request.user.is_authenticated %}
                                <p class="my-0">{{ user.username }}</p>
                                {% endif %}
                            </div> <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul>
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'profile' %}" class="dropdown-item">My Profile</a></li>
                            <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                            <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>

                    <li id="bag-icon">
                        <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>

                </ul>

            </nav>

        {% if request|is_mobile %}
            {% include 'includes/mobile-top-header.html' %}
        {% endif %}
        </div>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% endblock %}


    {% block content %}
    {% endblock %}


    {% block page_footer %}

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-3">

                <div class="col-lg-4 col-md-6 footer-links d-flex">
s                    <i class="bi bi-telephone icon"></i>
                    <div>
                        <h4>Contact Us</h4>
                        <p>
                            <strong>Phone:</strong> +353 20 911 6900<br>
                            <strong>Email:</strong> info@gmail.com<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Follow Us</h4>
                    <div class="social-links d-flex">
                        <a href="https://twitter.com/" aria-label="twitter icon link" class="twitter" target="_blank"><i
                                class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/" aria-label="facebook icon link" class="facebook"
                            target="_blank"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/" aria-label="instagram icon link" class="instagram"
                            target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/" aria-label="linkedin icon link" class="linkedin"
                            target="_blank"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="fa-solid fa-bullhorn"> </i>
                    <div>
                        <h4>Newsletter</h4>
                        <div id="mc_embed_shell">

                            <div id="mc_embed_signup">
                                <form
                                    action="https://herokuapp.us12.list-manage.com/subscribe/post?u=a123574c1e8243512a23876f9&amp;id=3c8cb1cfef&amp;f_id=0019b5e0f0"
                                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                    class="validate" target="_blank">
                                    <div id="mc_embed_signup_scroll">
                                        <h2>Subscribe</h2>
                                        <div class="indicates-required"><span class="asterisk">*</span> indicates
                                            required</div>
                                        <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                                    class="asterisk">*</span></label><input type="email" name="EMAIL"
                                                class="required email" id="mce-EMAIL" required="" value=""></div>
                                        <div id="mce-responses" class="clear foot">
                                            <div class="response" id="mce-error-response" style="display: none;">
                                            </div>
                                            <div class="response" id="mce-success-response" style="display: none;">
                                            </div>
                                        </div>
                                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                            /* real people should not fill this in and expect good things - do not
                                            remove this or risk form bot signups */
                                            <input type="text" name="b_a123574c1e8243512a23876f9_3c8cb1cfef"
                                                tabindex="-1" value="">
                                        </div>
                                        <div class="optionalParent">
                                            <div class="clear foot">
                                                <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                                    class="button" value="Subscribe">
                                                <p style="margin: 0px auto;"><a href="http://eepurl.com/iAWm7k"
                                                        title="Mailchimp - email marketing made easy and fun"><span
                                                            style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                                                class="refferal_badge"
                                                                src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                                alt="Intuit Mailchimp"
                                                                style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

               



                <div class="container mt-4">
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    {% endblock %}

</body>

</html>



{% block postloadjs %}
<script type="text/javascript">
    $('.toast').toast('show');
</script>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
</div>
{% endblock %}