{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio sections-bg">
    <div class="container">

        <div class="section-header">
            <h2>Clothes</h2>
            <div>
                <ul class="portfolio-flters">
                    <li class="filter-active"><a href="{% url 'products' %}?category=male">Men</a></li>
                    <li class="filter-active"><a href="{% url 'products' %}?category=female">Women</a></li>
                </ul><!-- End Portfolio Filters -->
            </div>

       

            {% if 'category' in request.GET and request.GET.category == 'male' %}
                <h3>Men</h3>
            </div>
                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                    data-portfolio-sort="original-order">

                    <div>
                        <ul class="portfolio-flters">
                            <li class="filter-active"><a href="{% url 'products' %}?category=male">All</a></li>
                            <li><a href="{% url 'products' %}?category=sweatshirts_hoodies">Sweatshirts & Hoodies</a></li>
                            <li><a href="{% url 'products' %}?category=t_shirts">T-shirts</a></li>
                            <li><a href="{% url 'products' %}?category=trousers">Trousers</a></li>
                            <li><a href="{% url 'products' %}?category=jackets">Jackets</a></li>
                            <li><a href="{% url 'products' %}?category=accessories">Acessories</a></li>
                        </ul><!-- End Portfolio Filters -->
                    </div>

            {% else %}
                    <h3>Women</h3>
                </div>

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                    data-portfolio-sort="original-order">

                    <div>
                        <ul class="portfolio-flters">
                            <li class="filter-active"><a href="{% url 'products' %}?category=female">All</a></li>
                            <li><a href="{% url 'products' %}?category=jumpers_hoodies">Jumpers & Hoodies</a></li>
                            <li><a href="{% url 'products' %}?category=top_blouses">Tops & Blouses</a></li>
                            <li><a href="{% url 'products' %}?category=skirts_bottoms">Skirts & Bottoms</a></li>
                            <li><a href="{% url 'products' %}?category=coats">Coats</a></li>
                            <li><a href="{% url 'products' %}?category=accessories">Acessories</a></li>
                        </ul><!-- End Portfolio Filters -->
                    </div>


                </div>
            {% endif %}
            {% if product.category %}
            <p class="small mt-1 mb-0">
                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                </a>
            </p>
            {% endif %}
            <div class="row gy-4 portfolio-container">

            {% for product in products %}
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <a href="" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{ product.image_url }}"
                            class="img-fluid" alt="{{ product.name }}"></a>
                    <div class="portfolio-info">
                        <h4><a href="{% url 'product_detail' product.id %}" title="More Details">{{ product.name }}</a>
                        </h4>
                        <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.condition }} condition
                        </small>
                    </div>
                </div>
            </div><!-- End Portfolio Item -->
            {% endfor %}
        </div><!-- End Portfolio Container -->

    </div>

</section><!-- End Portfolio Section -->

{% endblock %}


